.TableCell {

  &__Text {
    text-overflow: ellipsis;
    max-width: 34ch;
    white-space: nowrap;
    overflow: hidden;
  }

  &__TextButton {
    background-color: inherit;
    border: none;
    font-size: 16px;
    color: var(--red-secondary);
    font-weight: 500;
    cursor: pointer;

    &--Disabled {
      color: var(--gray-200);
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &__SelectContainer {
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background-color: var(--gray-50);
    border-radius: 4px;
    min-width: 150px;
    border: 1px solid var(--gray-100);

    select {
      cursor: pointer;
      flex: 1;
      appearance: none;
      border: 0;
      font-size: 16px;
      padding: 8px 14px;
      border-radius: 4px;
      background-color: var(--gray-50);
      color: var(--black);
      min-width: 0;
    }

    svg {
      position: absolute;
      margin: 0;
      right: 8px;
      height: 12px;
    }

    &--Disabled {
      select {
        pointer-events: none;
        background-color: var(--gray-50);
        color: var(--gray-200);
      }

      svg {
        color: var(--gray-200);
      }
    }
  }

  &__MultiChipContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
}
