.CustomTable {
  border: 0.5px solid var(--gray-100);

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    color: var(--black);
    background-color: var(--gray-50);
    text-align: left;
    position: relative;
  }

  thead {
    background-color: var(--gray-25) !important;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
    color: var(--gray-400);
  }

  tbody {
    font-weight: 400;
    max-height: 500px;
    overflow-y: scroll;
    background-color: var(--white);
  }

  tbody>tr {
    &:hover {
      background-color: var(--gray-50);
    }
  }

  th {
    padding: 10px;
    border-bottom: 1px solid var(--gray-100);
  }

  td {
    padding: 10px;
    border-top: 1px solid var(--gray-100);
  }

  &__NoData {
    text-align: center;
    height: 130px;
    font-size: 20px;
    font-weight: 600;
    color: var(--gray-300);
  }

  &__ClickableRow {
    cursor: pointer;
  }
}
