.Button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  background-image: linear-gradient(to right, #2d5ff4, #2653f8, #184afd ,#0d40f8);
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
  background-size: 300% 100%;
  cursor: pointer;
  -o-transition: background-position .4s ease-in-out;
  -webkit-transition: background-position .4s ease-in-out;
  transition: background-position .4s ease-in-out;

  &__Icon {
    width: 16px;
    height: 16px;
    color: var(--white);
  }

  &__Disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.Button:hover {
  background-position: 100% 0;
  -o-transition: background-position .4s ease-in-out;
  -webkit-transition: background-position .4s ease-in-out;
  transition: background-position .4s ease-in-out;
}
